{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title %}Bienvenue sur Fluxion{% endblock %}

{% block main %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card card-body">
                    <h4>Tour de contrôle Dazai</h4>
                    <p>Utilisez le menu latéral pour gérer les marques blanches et les organisations.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}