services:
    _defaults:
        autowire: true
        autoconfigure: true
        public: true

    # Contexts Behat (autoload via App\Behat\ => behat/context/)
    App\Behat\:
        resource: '../behat/context/'

    # Injecter explicitement le KernelBrowser de test
    App\Behat\Common\HttpApiContext:
        arguments:
            $client: '@test.client'
            $tenantContext: '@App\Behat\Common\TenantContext'
            $jwtStorage: '@App\Behat\Common\JwtStorageContext'
        tags: [ { name: context.service } ]

    # Les autres contexts peuvent rester en autowire, mais on garde le tag
    App\Behat\Common\TenantContext:
        tags: [ { name: context.service } ]

    App\Behat\Common\JwtStorageContext:
        tags: [ { name: context.service } ]

    App\Behat\Common\AuthJwtContext:
        tags: [ { name: context.service } ]

    App\Behat\Delivery\DeliveryWorkflowContext:
        tags: [ { name: context.service } ]